name: Auto Delete Merged Branches

on:
  schedule:
    - cron: '0 0 * * *'  # Runs at midnight UTC every day
  workflow_dispatch:  # Allows manual triggering

jobs:
  delete-merged-branches:
    runs-on: ubuntu-latest
    name: Delete Merged Branches
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Delete Merged Branches
        uses: SvanBoxel/delete-merged-branch@2b5b058e3db41a3328fd9a6a58fd4c2545a14353
        with:
          # This token is provided by GitHub Actions
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # A list of branches that should not be deleted.
          # Add any new protected branches to this list.
          branches_to_protect:
            - main
            - saas
            - cli-tool
          # The number of days after a branch is merged before it is deleted.
          days_until_delete: 3